<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>345619959993-5qk4d26i3993o1l4hk6oj8qujl16c4u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345619959993-5qk4d26i3993o1l4hk6oj8qujl16c4u3</string>
	<key>API_KEY</key>
	<string>AIzaSyCRhofPLmzgiim0BM8vSH3WhQ4EoB-lap0</string>
	<key>GCM_SENDER_ID</key>
	<string>345619959993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.whoopApp</string>
	<key>PROJECT_ID</key>
	<string>whoopapp-25a92</string>
	<key>STORAGE_BUCKET</key>
	<string>whoopapp-25a92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345619959993:ios:978f94a975a4fcb1</string>
	<key>DATABASE_URL</key>
	<string>https://whoopapp-25a92.firebaseio.com</string>
</dict>
</plist>